---
import Layout from '../layouts/Layout.astro';
import FMHero from '../components/FMHero.astro';
import { FMDocumentos } from '../components/FMDocumentos';
import { FMComoFunciona } from '../components/FMComoFunciona';
import { FMVideo } from '../components/FMVideo';
import { FMQuemSouEu } from '../components/FMQuemSouEu';
import { FMDepoimentos } from '../components/FMDepoimentos';
import { FMPricing } from '../components/FMPricing';
import { FMFAQ } from '../components/FMFAQ';
import { FMFooter } from '../components/FMFooter';
---
<Layout>
  <main>
    <FMHero />
    <FMDocumentos client:idle />
    <FMComoFunciona client:idle />
    <FMVideo client:idle />
    <FMQuemSouEu client:idle />
    <FMDepoimentos client:idle />
    <FMPricing client:idle />
    <FMFAQ client:idle />
    <FMFooter client:idle />
  </main>
</Layout>
