---
---

<div class="proof-bar">
  <div class="proof-item">
    <div class="proof-num">+2.300</div>
    <div class="proof-label">pessoas já descobriram</div>
  </div>
  <div class="proof-item">
    <div class="proof-num">98%</div>
    <div class="proof-label">não pedem reembolso</div>
  </div>
  <div class="proof-item">
    <div class="proof-num">40+</div>
    <div class="proof-label">estudos científicos</div>
  </div>
  <div class="proof-item">
    <div class="proof-num">7 dias</div>
    <div class="proof-label">de garantia total</div>
  </div>
</div>

