---
import Layout from '../layouts/Layout.astro';
import RFMHero from '../components/RFMHero.astro';
import { RFMPortas } from '../components/RFMPortas';
import { RFMComoFunciona } from '../components/RFMComoFunciona';
import { RFMTransformacao } from '../components/RFMTransformacao';
import { RFMAutoridade } from '../components/RFMAutoridade';
import { RFMDepoimentos } from '../components/RFMDepoimentos';
import { RFMConfianca } from '../components/RFMConfianca';
import { RFMCTA } from '../components/RFMCTA';
import { RFMPlanos } from '../components/RFMPlanos';
import { RFMFooter } from '../components/RFMFooter';
---
<Layout>
  <main>
    <RFMHero />
    <RFMPortas client:idle />
    <RFMComoFunciona client:idle />
    <RFMTransformacao client:idle />
    <RFMAutoridade client:idle />
    <RFMDepoimentos client:idle />
    <RFMConfianca client:idle />
    <RFMCTA client:idle />
    <RFMPlanos client:idle />
    <RFMFooter client:idle />
  </main>
</Layout>
