---
import Layout from '../layouts/Layout.astro';
import { DE2UrgencyBar } from '../components/DE2UrgencyBar';
import DE2Hero from '../components/DE2Hero.astro';
import DE2Problema from '../components/DE2Problema.astro';
import DE2OQueMudou from '../components/DE2OQueMudou.astro';
import DE2AboutResumo from '../components/DE2AboutResumo.astro';
import DE2OQueReceber from '../components/DE2OQueReceber.astro';
import DE2ParaQuem from '../components/DE2ParaQuem.astro';
import DE2Depoimentos from '../components/DE2Depoimentos.astro';
import DE2Pricing from '../components/DE2Pricing.astro';
import DE2FAQ from '../components/DE2FAQ.astro';
import DE2Garantia from '../components/DE2Garantia.astro';
import DE2Urgencia from '../components/DE2Urgencia.astro';
import DE2FinalCTA from '../components/DE2FinalCTA.astro';
import DE2About from '../components/DE2About.astro';
import DE2Footer from '../components/DE2Footer.astro';
import DE2CheckoutModal from '../components/DE2CheckoutModal.astro';
---
<Layout>
  <DE2CheckoutModal />
  <main class="min-h-screen w-full bg-white text-black font-sans antialiased">
    <DE2UrgencyBar client:load />
    <DE2Hero />
    <DE2Problema />
    <DE2OQueMudou />
    <DE2AboutResumo />
    <DE2OQueReceber />
    <DE2ParaQuem />
    <DE2Depoimentos />
    <DE2Pricing />
    <DE2FAQ />
    <DE2Garantia />
    <DE2Urgencia />
    <DE2FinalCTA />
    <DE2About />
    <DE2Footer />
  </main>
</Layout>
